.navigation{
    border-bottom:1px solid lightslategray;
    display: flex;
    justify-content: space-around;
}

.modal{
    display: none;
    position:fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content{
    margin:auto;
    display: block;
    width: 400px;
    height:500px;
    background-color: black;
    color: white;
    text-align: center;

}

.exitButton{
    display: none;
}

.xButton{
    margin:0;
    display: flex;
    flex-direction: row-reverse;
}

.xButton p{
    margin:0;
    cursor: pointer;
}

.btn {
    background-color: rgb(43, 161, 177); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button-box{
      display:inline-table;
      width: 100px;
      margin-top: 100px;
  }

  
  